body {
    margin: 0;
    padding: 0;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-container {
    background: #1F2937;
    display: flex;
    justify-content: center;
    width: auto;
    height: 460px;
}

.hero-main-text {
    width: 300px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.hero-secondary-text {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    font-size: 18px;
    color: #E5E7EB;
    margin: 5px 0 10px 0;
}

.sign-up-1 {
    background: #3882F6;
    color: white;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.under-logo-left {
    margin-top: 3em;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.image-container {
    margin: 4em 0 0 3em;
}

.placeholder-for-image {
    color: #E5E7EB;
    background: #a1a0a0dc;
    box-sizing: border-box;
    width: 525px;
    height: 225px;
    border: 2px grey solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 10px;
    padding: 5px 30px;
    font-size: 18px;
    font-weight: 700;
}

li {
    display: flex;
    gap: 1.5em;
    list-style: none;
}

a {
        color: #E5E7EB;
    text-decoration: none;
        font-size: 18px;

}