body {
    margin: 0;
    padding: 0;
}

/* FIRST SECTION */

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-container {
    background: #1F2937;
    display: flex;
    justify-content: center;
    width: auto;
    height: 560px;
}

.hero-main-text {
    width: 300px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.hero-secondary-text {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    font-size: 18px;
    color: #E5E7EB;
    margin: 5px 0 10px 0;
}

.sign-up-1 {
    background: #3882F6;
    color: white;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.under-logo-left {
    margin-top: 3em;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.image-container {
    margin: 4em 0 0 3em;
}

.placeholder-for-image {
    color: #E5E7EB;
    background: #a1a0a0dc;
    box-sizing: border-box;
    width: 525px;
    height: 225px;
    border: 2px grey solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 10px;
    padding: 5px 30px;
    font-size: 18px;
    font-weight: 700;
}

li {
    display: flex;
    gap: 1.5em;
    list-style: none;
}

a {
        color: #E5E7EB;
    text-decoration: none;
        font-size: 18px;

}

/* SECOND SECTION */

.second-container {
    display: flex;
    flex-direction: column;
    height: 460px;
}

.container-subtext-group {
    display: flex;
    gap: 3em;
    justify-content: center;
    flex-wrap: no-wrap;
    margin: 0;
    padding: 0;

}

.information-header {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information-container {
    box-sizing: border-box;
    height: 175px;
    width: 175px;
    border: 4px #3882F6 solid;
    border-radius: 10px;
}

.subtext {
    font-size: 18px;
    width: 175px;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-top: -0.5em;
}

/* THIRD SECTION */

.third-container {
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 400px;
}

.thor-quote {
    display: flex;
    width: 810px;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin: 5px;
}

.quote-author {
    color: #1F2937;
    display: flex;
    font-weight: 700;
    font-size: 24px;
    margin-left: 4in;
}

/* FOURTH SECTION */

.fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 320px;
}

.blue-container {
    background: #3882F6;
    display: flex;
    justify-content: center;
    width: 10in;
    height: 1.5in;
    margin: 4em;
    border-radius: 10px;
}

.cta-itstime {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    margin: 40px 20px -18px 0;
}

.cta-subtext {
    font-size: 18px;
}

.cta-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1in;
}

.sign-up-2 {
    color: #F9FAF8;
    background: #3882F6;
    border: 2px #F9FAF8 solid;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #F9FAF8;
    background: #1F2937;
    width: auto;
    height: 100px;
}